.bg-comp
{
	background-color: #FBF9F7;
}

body
{
	background-image: url(Website+Background.png);
	background-repeat: no-repeat;
	background-size: cover;

}

#Content {
	text-align: center;
	width: 520px;
	margin-left: 750px;
	margin-top: 170px;
	font-family: 'Raleway', sans-serif;
}

#im1 {
	width: 300px;
}

h2
{
	font-size: 30px;
	color: white;
	padding-top: 5px;
}
h4 {
	font-size: 20px;
	margin-left: 90px;
	color: #E4E0DB;
	font-weight: 300;
	padding-top: 5px;
	text-align: left;

}

.anch{
	font-size: 20px;
	text-align: left;
	padding-left: 90px;
	padding-top: 30px;
	font-size: 17px;
	font-weight: 800;
}
a {
	color: white;
}
a:hover {
	color: black;
}

.icons {
	padding-top: 30px;
	margin-right: 2px;
}
